<?xml version="1.0" encoding="utf-8" ?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false">
    <testsuite name="Tests">
        <directory suffix="Test.php">./tests/</directory>
    </testsuite>
</phpunit>
